#col {
  margin-left: 120px;
  margin-right: 140px;
}
#col1 {
  float: left;
  width: 30%;
  height: 100px;
  margin-left: 120px;

}
#col2 {
  float: left;
  width:  30%;
  height: 100px;
  
}
#col3 {
  float: left;
  width:  30%;
  height: 100px;
  
}
#col4 {
  float: left;
  width: 30%;
  height: 100px;
  margin-left: 120px;
}
#col5 {
  float: left;
  width: 60%;
  height: 100px;
}
#col6 {
  float: left;
  width: 20%;
  height: 100px;
  margin-left: 120px;
}



#input{
  border-radius: 8px;
  font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
}
.page4{
  font-size: 28px;
  font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #005b91;
}
label{
  font-size: 14px;
  font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
  
}
#main {
  background-color:#fff;
  width:780px;
  height:100%;
  margin:60px;
  float:right;
  padding-left:40px;
  padding-right:40px;
  padding-top:40px;
  padding-bottom:60px;
  }







