#col {
    margin-left: 120px;
    margin-right: 140px;
}
#col1 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col2 {
    float: left;
    width: 28%;
    height: 100px;
}
#col3 {
    float: left;
    width: 30%;
    height: 100px;
}
#col4 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col5 {
    float: left;
    width: 50%;
    height: 100px;
}


#input{
    border-radius: 8px;
}
.page5{
    font-size: 28px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
}
.header{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    color: #1251ff;
}