@font-face {
    font-family: "Sukhumvit";
    src: url("fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
}
  
#col {
    margin-left: 120px;
    margin-right: 140px;
}
#col1 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col2 {
    float: left;
    width: 28%;
    height: 100px;
}
#col3 {
    float: left;
    width: 30%;
    height: 100px;
}
#col4 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col5 {
    float: left;
    width: 50%;
    height: 100px;
}
#col6 {
    float: left;
    width: 20%;
    height: 100px;
    margin-left: 120px;
}
#col7 {
    float: left;
    width: 20%;
    height: 100px;
}
#col8 {
    float: left;
    width: 40%;
    height: 100px;
}
#col9 {
    float: left;
    width: 80%;
    height: 100px;
    margin-left: 120px;
}
#input{
    border-radius: 8px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;

}
.detail{
    font-size: 28px;
    font-family: 'Sukhumvit', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
}

.header{
    font-size: 15px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
    font-weight: bolder;
    color: #1251ff;
}

