#col {
    margin-left: 120px;
    margin-right: 140px;
}
#col1 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col2 {
    float: left;
    width:  30%;
    height: 100px;
}
#col3 {
    float: left;
    width:  30%;
    height: 100px;
}
#col4 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col5 {
    float: left;
    width: 60%;
    height: 100px;
}




#input{
    border-radius: 8px;
    font-family: 'Sukhumvit', sans-serif;
}
.page8{
    font-size: 28px;
    font-family: 'Sukhumvit', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: 'Sukhumvit', sans-serif;
}


.header{
    font-size: 15px;
    font-family: 'Sukhumvit', sans-serif;
    font-weight: bolder;
    color: #1251ff;
}
#chlids {
    font-family: 'Sukhumvit', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#chlidss td, #chlids th {
     /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
#chlids tr:nth-child(even){
      background-color: #f2f2f2;
    }
  
#chlids tr:hover {
    background-color: #ddd;
}
  
#chlids th {
    font-family: 'Sukhumvit', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #000000;
    color: white;
}

