@font-face {
    font-family: "Sukhumvit";
    /*src: url('sukhumvit-set/SukhumvitSet-Bold.ttf');
  src: url('sukhumvit-set/SukhumvitSet-Light.ttf');*/
    src: url("sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
    /*src: url('sukhumvit-set/SukhumvitSet-SemiBold.ttf');
  src: url('sukhumvit-set/SukhumvitSet-Text.ttf');
  src: url('sukhumvit-set/SukhumvitSet-Thin.ttf');*/
  }

  body {
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
  }