@font-face {
    font-family: "Sukhumvit";
    src: url("fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
}
  
#col {
    margin-left: 120px;
    margin-right: 140px;
}


#input{
    border-radius: 8px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;

}
.detail{
    font-size: 28px;
    font-family: 'Sukhumvit', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
}

.header{
    font-size: 15px;
    font-family: "Sukhumvit", Merriweather, "Helvetica Neue", Arial, sans-serif;
    font-weight: bolder;
    color: #1251ff;
}
