@font-face {
  font-family: "Sukhumvit";
  src: url("fonts/sukhumvit-set/SukhumvitSet-Medium.ttf") format("truetype");
}
#col {
    margin-left: 45px;
    margin-right: 140px;
}
#col1 {
    float: left;
    width: 20%;
    height: 100px;
    margin-left: 30px;
}
#col2 {
    float: left;
    width:  20%;
    height: 100px;
}
#col3 {
    float: left;
    width:  30%;
    height: 100px;
}
#col4 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col5 {
    float: left;
    width: 60%;
    height: 100px;
}




#input{
    border-radius: 8px;
    font-family: 'Mitr', sans-serif;
}
.consider{
    font-size: 28px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
}


.header{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    color: #1251ff;
}

  
 
#manager {
  font-family: 'Mitr', sans-serif;
  border-collapse: collapse;
  margin-left: 120px;
}

#manager td, #manager th {
  padding: 14px;
  
}

#manager tr:nth-child(even){background-color: #f2f2f2;}

#manager tr:hover {background-color: #ddd;}

#manager th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
  word-spacing: 100pt; 
}