#col {
    margin-left: 45px;
    margin-right: 140px;
}
#col1 {
    float: left;
    width: 20%;
    height: 100px;
    margin-left: 30px;
}
#col2 {
    float: left;
    width:  20%;
    height: 100px;
}
#col3 {
    float: left;
    width:  30%;
    height: 100px;
}
#col4 {
    float: left;
    width: 30%;
    height: 100px;
    margin-left: 120px;
}
#col5 {
    float: left;
    width: 60%;
    height: 100px;
}




#input{
    border-radius: 8px;
    font-family: 'Mitr', sans-serif;
}
.page7{
    font-size: 28px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    text-align: center;
    color: #1251ff;
}
label{
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
}


.header{
    font-size: 15px;
    font-family: 'Mitr', sans-serif;
    font-weight: bolder;
    color: #1251ff;
}
#chlids {
    font-family: 'Mitr', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#chlidss td, #chlids th {
     /* border: 1px solid #ddd; */
    padding: 8px;
  }
  
#chlids tr:nth-child(even){
      background-color: #f2f2f2;
    }
  
#chlids tr:hover {
    background-color: #ddd;
}
  
#chlids th {
    font-family: 'Mitr', sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: #000000;
    color: white;
}

.btn {
    background-color: rgb(0, 0, 0); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  
.btn:hover {
    background-color: rgb(0, 0, 0);
  }
  


/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=text] {
    width: 150%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    font-family: 'Mitr', sans-serif;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    font-family: 'Mitr', sans-serif;
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .fas:hover {
    opacity: 1;
  }

.fas {
    font-size:24px;
    color: #1251ff;
    
  }

